* {
  box-sizing: border-box;
  outline: none;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 230px;
}

/* The popup chat - hidden by default */

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #b3b3b3;
  z-index: 9;
}

/* Add styles to the form container */

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(133, 133, 133);
}

/* Full-width textarea */

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */

.form-container .btn {
  background-color: #008453;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
  background-color: rgb(179, 0, 0);
}

/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.button {
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px #999;
}

.box {
  transition: 1s;
}

.box:hover {
  transform: scale(1.03);
  z-index: 1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

/* Set a style for all buttons */

.button1 {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 30%;
  border-radius: 20%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */

.bgimg-1 {
  background-image: url(resim/elden\ ring.jpg);
  min-height: 100% !important;
}

/* Second image (Portfolio) */

.bgimg-2 {
  background-image: url(resim/ghost\ of.png);
  min-height: 400px !important;
}

/* Third image (Contact) */

.bgimg-3 {
  background-image: url(resim/doom\ ethernal.jpg);
  min-height: 400px !important;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.dark-mode {
  background-color: black;
  color: white;
}

body {
  transition: background-color 0.5s, color 0.5s;
}

.img-animation {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.img-animation:hover {
  transform: scale(1.1);
}

.button-menu:hover {
  transition: 1s;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search {
  width: 10px !important;
  float: left;
}

.search-container {
  display: contents;
}

#gameList {
  display: block;
  position: absolute;
  top: 80%;
  left: -600px;
  border-radius: 10px;
  width: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  overflow: scroll;
  height: 400px;
  color: black !important;
}

#gameList li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

#gameList li:last-child {
  border-bottom: none;
}

.displayNone {
  display: none !important;
}

.gameDetails {
  position: absolute;
  min-width: 500px;
  max-width: 500px;
  left: 34%;
  top: 300px;
  background-color: white;
  color: black;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  /* display: none; */
}
